<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= h(yield(:title) || "Untitled") %></title>
		<%= stylesheet_link_tag 'application' %>
		<%= yield(:head) %>
	</head>
	
	<body>
		<!-- This code displays the messages that show up in green at the top of the page. -->
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%- end -%>
		
		<header>
			<nav>
				<div id="nav_top">
					<!-- The contents of this area change depending on whether the user is logged in or not.-->
					<% if current_user # If the user is logged in %>
						<%= link_to current_user.username, edit_user_path(:current) %> | 
						<%= link_to "Logout", logout_path %>
					<% else # If the user is not logged in %>
						<%= link_to "Register", new_user_path %> | 
						<%= link_to "Login", login_path %>
					<% end %>
				</div>
				
				<!-- This is the constant navigation portion of the site. This does not change -->
				<span style="float:left" ><%= link_to image_tag("logo.jpg"), root_path %></span>
				<div id="nav_bottom">
					<ul>
						<li><%= link_to "About", :controller => "about" %></li>
						<li><%= link_to "Item 3", root_path %></li>
					</ul>
				</div>
			</nav>
		</header>
		<br /><br /><br />
		<section>
			<%- if show_title? -%>
				<h1><%=h yield(:title) %></h1>
			<%- end -%>
			
			<!-- the following line loads the content from the individual page -->
			<%= yield %>
		</section>
		
		<footer>
			<hr />
			<p>
				This is the footer.... Stuff goes here
			</p>
		</footer>
	</body>
</html>
